
<div id="carousel-example-1z" class="carousel slide carousel-fade pt-4" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-1z" data-slide-to="1"></li>
          <li data-target="#carousel-example-1z" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active">
            <div class="view" style="background-image: url(); background-repeat: no-repeat; background-size: cover;">
              <div class="mask rgba-black-strong d-flex justify-content-center align-items-center">
                <div class="text-center white-text mx-5 wow fadeIn">
                  <h1 class="mb-4">
                    <strong>Tailors Hub</strong>
                  </h1>
                  <p>
                    <strong>Get the latest Tailors Designs in Tailors Hub</strong>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="view" style="background-image: url(); background-repeat: no-repeat; background-size: cover;">
              <div class="mask rgba-black-strong d-flex justify-content-center align-items-center">
                <div class="text-center white-text mx-5 wow fadeIn">
                  <h1 class="mb-4">
                    <strong>Selective Tailors</strong>
                  </h1>
    
                  <p>
                    <strong>Best & free delivery Designs </strong>
                  </p>
                </div>
    
              </div>
    
            </div>
          </div>
    
        </div>
        <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
    
      </div>