  {% load cart_template_tags %}
  <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
    <div class="container">
      <a class="navbar-brand waves-effect" href="/">
        <strong class="blue-text">Tailors Hub</strong>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>
        <ul class="navbar-nav nav-flex-icons">
      
          <li class="nav-item">
          
          </li>
        </ul>
        {% if user.is_authenticated %}
          <ul  class="navbar-nav nav-flex-icons">
              <li class="nav-item avatar dropdown">
                  <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-55" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <img src="{{user.prof_pic.url}}" class="rounded-circle z-depth-0"
                      alt="" style="height:40px;">My Account
                  </a>
                  <div class="dropdown-menu dropdown-menu-lg-right dropdown-secondary"
                    aria-labelledby="navbarDropdownMenuLink-55">
                    <a class="dropdown-item" href="{% url 'tailor:profile' user.id %}">Profile</a>
                    <a class="dropdown-item" href="{% url 'tailor:request-refund' %}">Request Refund</a>
                    <a  href="{% url 'tailor:order-summary' %}"class="nav-link waves-effect">
                        <span class="badge red z-depth-1 mr-1">{{ request.user|cart_item_count }} </span>
                        <i class="fas fa-shopping-cart"></i>
                        <span class="clearfix d-none d-sm-inline-block"> Cart </span>
                      </a>
                      <a href="{% url 'tailor:user_profile' user.username %}" class="instaicon pers">{{user.username}}</a>
                      <a class="dropdown-item" href="/logout/">Logout</a> 
                  </div>
                </li>
          </ul>
          {% else %}
        <ul class="navbar-nav nav-flex-icons">
                <li class="nav-item">
                  <a class="nav-link waves-effect" href="/accounts/login/">
                    <span class="clearfix d-none d-sm-inline-block">Login </span>
                  </a>
              </li>
        </ul>
        <ul class="navbar-nav nav-flex-icons">
            <li class="nav-item">
              <a class="nav-link waves-effect" href="/accounts/register/">
                <span class="clearfix d-none d-sm-inline-block"> SignUp </span>
              </a>
          </li>
          {% endif %}
    </ul>
      </div>
    </div>
  </nav>
